---
author: GjaltJornPeters
comments: true
date: 2016-01-28 13:05:45+00:00
layout: post
link: https://sciencer.eu/2016/01/gezondheidscommunicatie-op-tabaksverpakking-angst-is-een-slechte-raadgever/
slug: gezondheidscommunicatie-op-tabaksverpakking-angst-is-een-slechte-raadgever
title: 'Gezondheidscommunicatie op tabaksverpakking: angst is een slechte raadgever'
wordpress_id: 14
categories:
- Scientific Scrutiny
tags:
- afschrikwekkende afbeeldingen
- angstaanjagende voorlichting
- roken
- sigaretten
output:
  blogdown::html_page
---



<p>In deze korte post (korte link om te delen: <a href="https://pakjessigaretten.nl">https://pakjessigaretten.nl</a>) wil ik uitleggen wat je moet doen op pakjes sigaretten. Ik leg kort uit waarom ik fel tegen angstaanjagende afbeeldingen en teksten ben; waarom ze zo populair zijn; en wat ik vind dat je wel op pakjes sigaretten moet zetten. (Haast? Ga gelijk naar de bottom line.)</p>
<!-- more -->
<p>Vandaag bespreekt de Tweede kamer de mogelijkheid grote delen van pakjes sigaretten te bedekken met angstaanjagende afbeeldingen en teksten. Omdat ik hier <a href="http://fearappeals.com">een aantal studies</a> naar heb gedaan en nu bezig ben met <a href="http://smokingsynthesis.com">een grote literatuurstudie over rookgedrag</a> ben ik een van de mensen die soms word benaderd om te reageren (zie bijvoorbeeld <a href="http://nos.nl/artikel/2083337-helpen-plaatjes-van-zwarte-longen-ons-van-het-roken-af.html">dit bericht van de NOS</a>; professors Kok en Ruiter, met wie ik dit onderzoek doe, schreven onlangs ook <a href="http://www.nrc.nl/nieuws/2015/12/21/gaan-mensen-minder-roken-door-grotere-waarschuwingen-op-tabaksproducten">een helder verhaal in het NRC</a>). Door ruimterestrictie van kranten, TV en radio vallen er vaak delen van de boodschap weg, waardoor die eventueel verkeerd over kan komen. Het zou bijvoorbeeld kunnen dat mensen ten onrechte denken dat ik tegen gezondheidscommunicatie op tabaksverpakkingen ben - maar niets is minder waar. In deze post leg ik kort uit hoe het zit.</p>
<div id="angst-is-een-slechte-raadgever" class="section level1">
<h1>Angst is een slechte raadgever</h1>
<p>Of angstaanjagende voorlichting kan werken is al jaren een controversieel onderwerp. Er worden elke paar jaar studies en literatuurstudies gepubliceerd waar uiteenlopende conclusies worden getrokken. De conclusies van mijn <a href="http://dx.doi.org/10.1080/17437199.2012.703527">meta-analyse</a> was duidelijk: angstaanjagende voorlichting is geen goed idee en kan averechts werken. Dit wordt verklaard door de betreffende psychologische theorieën zoals het zogenaamde “<a href="https://en.wikipedia.org/wiki/Extended_Parallel_Process_Model">Extended Parallel Process Model</a>”. Deze stelt kort samengevat dat als mensen zich bewust worden van een dreiging, ze onbewust een inschatting maken van wat ze er aan kunnen doen. Als ze niet overtuigd zijn dat ze de dreiging kunnen voorkomen of verminderen, voelt dat natuurlijk onprettig. De enige oplossing die rest, is de dreiging te ontkennen of te vervormen, zoals mensen doen met uitspraken als “Mijn oma is 83 en rookt al jaren een pakje per dag,” “Ik rook al veel minder dan vroeger,” of“Ik eet gezond en sport heel veel.”</p>
<p>Desalniettemin zijn mensen vaak voorstander van angstaanjagende voorlichting. Dit is ergens wel logisch: het is een erg intuïtieve aanpak. De redenering is vaak ongeveer als volgt:</p>
<blockquote>
<p>Als mensen wist hoe slecht het voor ze was, zouden ze het niet doen. We moeten de risico’s dus duidelijk communiceren. Mensen worden al blootgesteld aan een hoop geweld en schokkende zaken, dus deze boodschap moet erg extreem en confronterend zijn om hier doorheen te prikken. Als we mensen maar echt kunnen raken, zien ze in hoe slecht het is, en starten ze niet (of stoppen ze).</p>
</blockquote>
<p>Hier zijn andere varianten op:</p>
<blockquote>
<p>Het gaat er vooral om dat de pakjes onaantrekkelijk worden gemaakt; als de pakjes er voldoende onaantrekkelijk uitzien, weerhoud dat mensen er wel van te starten (of helpt het hen te stoppen).</p>
</blockquote>
<p>Maar de basale denkfout blijft hetzelfde: mensen denken dat ze weten hoe gedragsverandering werkt voor de betreffende doelgroep, in dit geval bijvoorbeeld jongeren die misschien gaan roken. Jammer genoeg is dat niet zo. Zelfs als je jongeren zelf vraag wat zou moeten gebeuren, komen ze vaak met dit soort verhalen. Dat is ook niet erg: net zoals je jongeren niet vraagt om een blindedarm-operatie uit te voeren bij andere jongeren, of om huizen te ontwerpen en bouwen waar jongeren in kunnen wonen, moet je ze ook niet vragen gedragsveranderings interventies te ontwikkelen voor jongeren.</p>
<p>Want gedragsverandering is net als chirurgie en architectuur een vak. Om iets zinnigs te kunnen zeggen over of angstaanjagende plaatjes en teksten een goed idee zijn of niet, moet je eerst weten waar je het over hebt. Net zoals dat je beter geen uitspraken kunt doen over of iemands blinde darm is ontstoken zonder dat je eerst geneeskunde hebt gestudeerd (of op zijn minst _be_studeerd), kun je beter geen uitspraken doen over gedragsverandering zonder dat je eerst psychologie, in het bijzonder gezondheidspsychologie, en nog in het bijzonderder gedragsveranderingswetenschap, hebt gestudeerd (of in elk geval _be_studeerd).</p>
<p>Als je dat doet, kom je onder andere een <a href="http://www.apa.org/news/press/releases/2015/10/fear-based-appeals.aspx">onlangs verschenen meta-analyse</a> tegen waar de volgende conclusie wordt getrokken:</p>
<blockquote>
Overall, we conclude that (a) fear appeals are effective at positively influencing attitude, intentions, and behaviors; (b) there are very few circumstances under which they are not effective; and (c) there are no identified circumstances under which they backfire and lead to undesirable outcomes.
</blockquote>
<p>Dat lijkt toch een positieve boodschap, zou je zeggen.<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a> Het is echter een antwoord op de verkeerde vraag. En daar kom je ook achter als je je verdiept in de psychologie van gedragsverandering. Je komt er dan achter dat het geen goed idee is om na te denken over de vraag “Kunnen angstaanjagende plaatjes werken?”, en dat dat zelfs schadelijk kan zijn.</p>
</div>
<div id="kunnen-angstaanjagende-of-lelijke-walgelijke-etc-plaatjes-werken" class="section level1">
<h1>Kunnen angstaanjagende (of lelijke, walgelijke, etc) plaatjes werken?</h1>
<p>Door ons op deze vraag te richten, verliezen we ‘the big picture’ uit het oog. Ons doel is niet om iets op pakjes sigaretten te zetten “dat kan werken”. Ons doel is om de beschikbare ruimte op tabaksverpakkingen <em>zo effectief mogelijk</em> te benutten. Om dit te kunnen, moeten we dus weten wat de boodschappen (afbeeldingen en/of teksten) zijn die het beste werken om te voorkomen dat mensen gaan roken, of die mensen helpen om te stoppen.</p>
<p>Net zoals bij alle andere dingen die je wil veranderen geldt dat je ze eerst moet begrijpen. In gedragsveranderingsonderzoek is heel veel bekend over <a href="http://effectivebehaviorchange.com">hoe je dat doet</a>. Heel kort samengevat doorloop je de volgende stappen:</p>
<ol style="list-style-type: decimal">
<li><p>Breng in kaart waarom mensen het ongewenste gedrag vertonen, en omgekeerd, waarom mensen het gewenste gedrag vertonen (dit noemen we de <em>determinanten</em> van gedrag);</p></li>
<li><p>Kijk welke methoden voor gedragsverandering beschikbaar zijn om die determinanten te beïnvloeden (er zijn er <a href="http://dx.doi.org/10.1080/17437199.2015.1077155">minstens 99</a>).</p></li>
<li><p>Vertaal de methoden naar toepassingen die bij de doelgroep passen, en die zich richten op de juiste determinanten.</p></li>
</ol>
<p>Omdat ik al langer riep dat angstaanjagende voorlichting een slecht idee is, besloot ik een paar jaar geleden eens te kijken wat er uit literatuurstudies kwam: wat is eigenlijk bekend over de redenen en determinanten om te starten en stoppen met roken?</p>
<p>Tot mijn schok kon ik er geen vinden. Misschien heb ik niet goed gezocht, maar geen van de onderzoekers die ik hierover sprak en bij wie ik deze verbazing uitte, had wel van een literatuurstudie gehoord waar de beschikbaar kennis over waarom mensen starten en stoppen met roken werd samengevat.</p>
<p>Dus besloot ik om er zelf een te gaan doen. De eerste resultaten presenteerde ik vorig jaar op het congres van de <a href="http://ehps.net">European Health Psychology Society</a> in Cyprus. Deze impliceerden dat voor stoppen, vooral <em>self-efficacy</em> belangrijk was: of mensen vertrouwen hadden dat ze konden stoppen. Voor starten waren vooral waargenomen goed- en afkeuring van anderen, en wat anderen deden, van belang.</p>
<p>Nu zijn we nog lang niet klaar: ik wil dus niet zeggen dat dit het definitieve antwoord is. Wat wel duidelijk is, is dat het plan om angstaanjagende plaatjes op tabaksverpakking te plaatsen, niet gebaseerd is op onderzoek. Het benodigde onderzoek is er simpelweg nog niet. En we weten dat de kans, dat bewustzijn van risico’s van roken, er uit komt als sterkste voorspeller van starten of stoppen, laag is: die zogenaamde ‘risicoperceptie’ speelt bij het meeste gedrag een heel bescheiden rol.</p>
</div>
<div id="wat-moeten-we-dan-wel-doen" class="section level1">
<h1>Wat moeten we dan wel doen?</h1>
<p>Wat we wel moeten doen is eigenlijk eenvoudig:</p>
<ol style="list-style-type: decimal">
<li><p>Plaats voor nu op pakjes sigaretten adviezen om te stoppen. Deze kunnen tenminste niet averechts werken (en angstaanjagende plaatjes en teksten kunnen dat wel), en lijken op basis van wat we nu weten het meest kansrijk.</p></li>
<li><p>Investeer in onderzoek naar waarom mensen nu precies starten en stoppen.</p></li>
</ol>
<p>Dit is geen ‘sexy’ onderzoek, en wordt normaliter zelden bekostigd: we kennen de betreffende psychologische theorieën immers al heel lang, dus je hoeft geen baanbrekende resultaten te verwachten. Tegelijkertijd is <a href="http://ehps.net/ehp/index.php/contents/article/download/ehp.v16.i5.p142/7">dit soort onderzoek</a> de enige manier om de meeste effectieve communicatie op pakjes sigaretten te krijgen, en dus echt mensen te helpen niet te starten of wel te stoppen.</p>
</div>
<div id="de-bottom-line" class="section level1">
<h1>De bottom line</h1>
<ol style="list-style-type: decimal">
<li><p>Plaatjes of teksten op pakjes sigaretten zijn een goed idee.
(Plain packaging, waarbij alle pakjes er exact hetzelfde uitzien,
<a href="http://eppi.ioe.ac.uk/cms/Default.aspx?tabid=3327">lijkt trouwens ook een goed idee te zijn</a>.)</p></li>
<li><p>De inhoud van die plaatjes en teksten moet worden bepaald door mensen die zich hebben verdiept in hoe gedragsverandering werkt.</p></li>
<li><p>En het is belangrijk dat we snel onderzoeken waarom mensen starten en stoppen, zodat we die inhoud op evidentie kunnen baseren in plaats van op intuïtie.</p></li>
<li><p>Er is geen evidentie dat risicoperceptie (de determinant van starten/stoppen met roken waar angstaanjagende plaatjes zich op richten) de belangrijkste reden is om te starten/stoppen met roken, of dat die zelfs maar tot belangrijkste redenen behoort.</p></li>
<li><p>Er is wel evidentie dat angstaanjagende plaatjes/teksten averechts kunnen werken.</p></li>
<li><p>In de tussentijd, totdat we weten wat we moeten doen: tips en adviezen om te stoppen lijken het meest kansrijk, en kunnen tenminste niet averechts werken.</p></li>
</ol>
<p>Onlangs is een Open Access artikel verschenen waar we de discussie over angstaanjagende voorlichting samenvatten: dit staat op <a href="https://www.tandfonline.com/doi/full/10.1080/17437199.2017.1415767">https://www.tandfonline.com/doi/full/10.1080/17437199.2017.1415767</a>.</p>
</div>
<div id="voetnoten" class="section level1">
<h1>Voetnoten</h1>
</div>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>Ik ga deze data nog heranalyseren, om te kijken hoe ze tot zulke andere uitkomsten kunnen komen als ik kwam. Ik vermoed dat ze de theorie over angstaanjagende voorlichting negeren bij het includeren van studies.<a href="#fnref1" class="footnote-back">↩</a></p></li>
</ol>
</div>
