---
author: GjaltJornPeters
comments: true
date: 2017-05-03 13:51:12+00:00
layout: post
link: https://sciencer.eu/2017/05/theories-versus-logic-models/
slug: theories-versus-logic-models
title: Theories versus logic models
wordpress_id: 60
categories:
- Behavior change
- Quick thoughts &amp; discussions
---



<p>This post responds to a question by Matti Heino, partly phrased in <a href="https://www.facebook.com/groups/createFB/permalink/10155055772785199/">this Facebook post</a>, and partly in <a href="https://mattiheino.com/2017/05/01/evaluating-intervention-program-theories/">this presentation</a>.</p>
<p>Wow, good question and points!!!</p>
<p>I’d say, in response to slide 28: yes, they are. A logic model is not a theory. I define a logic model in this context as a model that is built from theories and empirical evidence to try and explain one very specific, bounded scenario. I define a theory as a generic constellation of constructs and (e.g. causal) relationships between those constructs. (PN, e.g., is not a theory).</p>
<p> </p>
<p>The goal of theory is to derive abstract laws about reality. Their level of abstraction grants them value; gravity works in general, not only in Padova. “Attitudes predict human behavior” is a theoretical statement. “Attitude predicts physical activity in my specific subgroup” is no longer a theoretical statement: whether it’s true or not tells us little about reality in general.</p>
<p> </p>
<p>So, the logic model you construe for an intervention, which you base on theory (but where you deliberately omit variables that are irrelevant in your specific situation, even though you know they can be important predictors of behavior), and which you ‘fill in’ using empirical evidence regarding the beliefs (‘change objectives’ in Intervention Mapping lingo), is not a theory. It’s also not something to evaluate in your intervention evaluation.</p>
<p> </p>
<p>It’s something to study BEFORE intervention development (step 2 of Intervention Mapping).</p>
<p> </p>
<p>Then, once you have your logic model of change (as IM calls it), you move forward and start matching the relevant determinants to theory. If you don’t know in advance which determinants (and which sub-determinants or beliefs) you should target with your behavior change methods, your chances of success are already diminished before you even started.</p>
<p> </p>
<p>So, this is not a matter of testing theory. Intervention evaluation is not fundamental/basic science. It’s application of science. You’re under no obligation to contribute to theory - in fact, you have the wrong design for contributing to theory. Your presentation clearly shows why this is the case.</p>
<p> </p>
<p>If you want to test theory, design a study to test theory.</p>
<p> </p>
<p>(Similarly, if you’re curious about mediation, design a study to test mediation - i.e. a factorial experiment with multiple measurement moments - and I haven’t checked that paper (“what’s the mechanism”) recently, you might need even more.)</p>
<p> </p>
<p>People commonly respond to this by expressing exasperation that it all has to be so complicated. I sympathize, but believe that nobody’s served by conducting invalid science because that keeps things fun and easy.</p>
<p> </p>
<p>Only learning one or two things from a study, even one with a huge dataset, is fine. Knowledge is valuable, so it’s ok to have to work for it :-)</p>
