---
author: GjaltJornPeters
comments: true
date: 2017-08-04 09:15:55+00:00
layout: post
link: https://sciencer.eu/2017/08/when-wishful-thinking-kills-the-tragic-consequences-of-misplaced-faith-in-introspection/
slug: when-wishful-thinking-kills-the-tragic-consequences-of-misplaced-faith-in-introspection
title: 'When wishful thinking kills: the tragic consequences of misplaced faith in
  introspection'
wordpress_id: 75
categories:
- Scientific Scrutiny
---



<p>[Image by Silver Blue, <a href="https://flickr.com/photos/cblue98/" class="uri">https://flickr.com/photos/cblue98/</a>]</p>
<p>[These are some thoughts that I’ll eventually work into a paper, so it may be a bit rough/drafty]</p>
<p>Psychology is characterized by an interesting paradox. On the one hand, it’s a very popular topic. After all, everybody’s a person, and the most important influences in most people’s worlds are other people. Who doesn’t love learning about oneself, one’s loved ones, one’s boss, and the leaders of one’s country? People are endlessly complex, so psychology and psychological research provide a veritable fount of knowledge.</p>
<p>On the other hand, that complexity of the human psychology is tenaciously denied. It is almost as if that complexity is seen rather like a spiritual entity, safe to invoke whenever it’s convenient to stare in wonder at the awesome quirks of nature and never-ending weirdness of people, but blissfully disregarded whenever it it threatening or gets in the way of day-to-day activities.</p>
<!-- more -->
<p>It is tempting -almost irresistibly so, apparently- to try to extrapolate one’s own psychology to other people. This is based on an implicit assumption that, because everybody is a human and has human psychology, what’s true for oneself is likely true for others. This temptation manifests as a persistent conviction that, for example, designing behavior change interventions, or thinking about which behavior change interventions may be effective, simply requires thoroughly thinking matters through.</p>
<p>In situations where somebody works with people, for example when trying to change an organization or developing an intervention, this conviction is dysfunctional. It encourages jumping to conclusions and precludes adequate humility as to one’s understanding of other people’s psychology. This in turn precludes involving experts and doing the required research before thinking about solutions.</p>
<p>In such situations, the message that people are complicated, and given that complexity, that thinking about people requires training and knowledge of the psychological literature is considered unwelcome. It is perhaps perceived as some violation: as the removal of some fundamental right. And of course, people’s day-to-day experiences confirm that they do understand people on a fundamental level. Everybody interacts with, often understand, and sometimes successfully influences other humans. The fact that these experiences don’t mean that one can do the same on a larger scale, or with people one doesn’t have intimate knowledge of, doesn’t seem to occur to people.</p>
<p>People don’t want to know that working with people is complicated, requires extensive knowledge and application of psychological theory, and requires first doing proper research to try and minimize the effects of your own psychological biases. In order to maintain the illusion that thinking about, for example, designing interventions for people is within one’s competences and control, one is forced to deny the complexity of human psychology.</p>
<p>This manifests as an insistence on simple solutions. This is why concepts such as nudging are so popular: they confirm the intuition of people without training in psychology that they can think usefully about behavior change nonetheless. They imply that behavior change is simply a matter of learning a few tricks: that architects of behavior change are basically people assembling Ikea furniture with the right manual.</p>
<p>Interestingly (or perhaps discouragingly), when you explain this to people, they often follow the reasoning. They understand that if you approach a mechanic, and you tell her “I have this vehicle and something is wrong, can you give me some methods to fix it?”, the mechanic will first need a lot more information (What kind of vehicle is it? A bicycle? A car? A moped? A tank? A drone? A segway? A rocket? An airplane? Is it electric, does it have a combustion engine? Does it have propellers?). Without thoroughly inspecting the vehicle, the mechanic can often not diagnose it, unless the problem is exceedingly simple - but those problems usually don’t require a mechanic to diagnose in the first place.</p>
<p>Human psychology is infinitely more complicated than tanks, drones, airplanes or segways. One could even argue that human psychology is more complicated than houses or human anatomy and physiology. And while humanity has spent millennia developing the science applied by engineers, architects and physicians, psychology as a science has been around for a mere hundred years. Theory is still messy and often contradictory; understanding the literature and properly assessing it requires strong methodological, statistical, and theoretical skills; and when it comes to applying this theory to real-world problems, additional competences are required.</p>
<p>However, for some reason, even though nobody would, without training, try to perform surgery to remove a loved one’s appendix or build their own airplane, people apparently have a hard time granting human psychology a similar status.</p>
<p>Perhaps it is a scary thought that one does not understand one’s own mind. Perhaps people need the sense of agency and control that derives from the illusion that understanding and manipulating other people is easy to do. Whatever the cause, this assumption that understanding and changing people is simple can be damaging.</p>
<p>It is one of the reasons why many health promotion campaigns are developed without involving behavior change experts. Much policy that is meant to regulate human behavior is formulated without consulting people who know how to regulate human behavior. Laws are put in place that one can predict will have little or no deterrent or regulatory effects.</p>
<p>These are not relatively academic, inconsequential oversights: this isn’t about missed opportunities for minor improvements or slight tweaks that would have been implemented if professionals with the relevant expertise had been consulted. This is about huge amounts of public funds that are wasted; public health improvements that are not realized; risk behaviors that persist; and in some cases, deaths that could have been avoided.</p>
<p>However, how do we go about improving this? Perhaps our existing knowledge translation interventions could be supported by a research program into this fundamental issue: on how to get people to acknowledge that human psychology, like human anatomy and physiology, is so complicated that it warrants involving professionals. How do you persuade people that their introspection is flawed even when it concerns themselves, let alone when trying to extrapolate to others?</p>
