---
author: GjaltJornPeters
comments: false
date: 2018-10-23 13:08:00+00:00
layout: post
link: https://sciencer.eu/2018/10/waarom-legalisering-van-xtc-gezondheidsschade-en-slachtoffers-voorkomt/
slug: waarom-legalisering-van-xtc-gezondheidsschade-en-slachtoffers-voorkomt
title: Waarom legalisering van XTC gezondheidsschade en slachtoffers voorkomt
wordpress_id: 152
categories:
- Behavior change
- Politics and science
---



<p>Zondag <a href="https://youtu.be/WvalO-KHfkg">pleitte Arjan Lubach voor legalisering van XTC</a>, in navolging van <a href="https://www.nu.nl/binnenland/5515832/criminoloog-laat-commissie-legalisatie-xtc-onderzoeken.html">criminoloog Ton Nabben</a> en <a href="https://www.gelderlander.nl/nijmegen/nijmeegse-arts-maak-van-xtc-legale-partydrug~a52b7691/">hoogleraar medicatieveiligheid Kees Kramers</a>. In deze post voeg ik nog een perspectief toe aan deze discussie: dat van de preventie. Preciezer, dat van de gedragsverandering, een subdiscipline van de gezondheidspsychologie. Ik zal uitleggen waarom legaliseren van XTC kan bijdragen tot het voorkomen van gezondheidsschade en zelfs overlijden van Nederlandse burgers. Het omgekeerde geldt ook: het besluit XTC niet te legaliseren kost levens.</p>
<!-- more -->
<div id="is-xtc-slecht-voor-je" class="section level1">
<h1>Is XTC slecht voor je?</h1>
<p>Discussies over XTC gaan vaak over hoe schadelijk XTC is. Arjan Lubach legde al uit dat XTC relatief onschadelijk is. Relatief in vergelijking met andere genotsmiddelen. Zoals <a href="https://doi.org/10.1016/S0140-6736(10)61462-6">David Nutt in 2010 al voorrekende</a> en <a href="https://universiteitvannederland.nl/college/waarom-werkt-bangmakerij-niet-ontmoedigend-als-het-gaat-om-drugs">ik bij de Universiteit van Nederland al presenteerde</a>, is de top-3 van alcohol, heroine, en crack cocaine het schadelijkst, en komt XTC pas op de 17de plaats, na cocaine (vijfde plaats), cannabis (achtste plaats), en steroiden (16de plaats). In die lijst van twintig middelen waren alleen LSD, buprenorphine en paddo’s minder schadelijk:</p>
<p>[caption id=“attachment_154” align=“alignnone” width=“800”]<img src="https://sciencer.eu/wp-content/uploads/2018/10/schadelijkheid.jpg" /> Schadelijkheid van verschillende middelen (uit lezing voor Universiteit van Nederland)[/caption]</p>
<p>Dit is niet de enige studie waar die schadelijkheid in kaart werd gebracht: in <a href="http://www.rivm.nl/bibliotheek/rapporten/340001001.pdf">2009 heeft het RIVM een soortgelijke exercitie uitgevoerd</a>. Om precies te zijn een Delphi-studie met 19 experts: een Delphi-studie is een systematische manier om kennis tussen experts gelijk te trekken zodat consensus kan worden bereikt. Ook hieruit kwam dat XTC een relatief veilig middel is, en zoals figuur 8 laat zien, verschillen de experts in Nederland en Groot-Brittanië amper in hun rangschikking:</p>
<p>[caption id=“attachment_155” align=“alignnone” width=“615”]<img src="https://sciencer.eu/wp-content/uploads/2018/10/2018-10-23-11_34_51-RIVM-rapport-340001001-Ranking-van-drugs-340001001.pdf.png" /> Rangschikking in Nederland en Groot-Brittanië[/caption]</p>
<p>Dit betekent natuurlijk niet dat XTC geen gezondheidsrisico’s met zich meebrengt. Het betekent wel dat ecstasy veel minder gezondheidsrisico’s met zich meebrengt dan alcohol en tabak. XTC is niet zonder gevaar, net zoals het lopen van de vierdaagse (<a href="https://www.volkskrant.nl/nieuws-achtergrond/vierdaagse-nijmegen-afgelast-na-doden-door-hitte~b634c03f/">de Volkskrant rapporteerde in 2006 dat er twee mensen zijn overleden, drie anderen moesten worden gereanimeerd, en dat er dertig mensen in het ziekenhuis zijn opgenomen</a>), de marathon (<a href="http://www.sportbegrip.nl/onderwerpen/de-schade-van-een-marathon/">een studie in de US vond dat 1 op de 100.000 marathonlopers er aan overlijdt</a>; dat is ongeveer hetzelfde risico als XTC-gebruik, <a href="https://www.trimbos.nl/kerncijfers/nationale-drug-monitor/">met 390 000 gebruikers en ongeveer 5 sterfgevallen met jaar</a>), of wielrennen of zwemmen (<a href="https://www.veiligheid.nl/sportblessures/kennis-cijfers/cijfers">VeiligheidNL schatte dat er in 2016 aan elke sport 5 mensen overleden</a>).</p>
<p>XTC is dus niet bijzonder schadelijk in vergelijking met bijvoorbeeld sporten, en beduidend minder schadelijk dan alcohol, dat legaal is. Als illegaal maken uberhaupt zou helpen, zouden we veel meer gezondheidswinst boeken door nu alcohol illegaal te maken. Nu helpt dat niet; maar het is belangrijk om te beseffen dat XTC dus niet bijzonder schadelijk is, of, zoals het door sommige politici wordt genoemd, ‘troep’.</p>
<blockquote>
Het argument kan dus niet zijn: “Als het niet volstrekt onschadelijk is, moet het niet gelegaliseerd worden.” Als die redenering op zou gaan, zouden we sport ook moeten verbieden.
</blockquote>
</div>
<div id="maar-studies-die-schadelijke-effecten-vinden-dan" class="section level1">
<h1>Maar: studies die schadelijke effecten vinden dan?</h1>
<p>In onderzoek naar de gevolgen van XTC-gebruik wordt soms gerapporteerd dat XTC wel degelijk invloed heeft op bijvoorbeeld het geheugenfunctioneren. Hoe kan dat dan? Hier zijn drie verklaringen voor.</p>
<p>Ten eerste: het feit dat je niet sterft door XTC betekent niet dat het verder niets doet. Net als alcohol brengt XTC ook schade toe die niet direct dodelijk is. Net als bij alcohol is dit geen reden om gebruik onmiddelijk te verbieden - als dat wel een doorslaggevend argument is, zou bijvoorbeeld alcoholgebruik ook gelijk verboden moeten worden.</p>
<p>Ten tweede: het is bijna onmogelijk om goed onderzoek te doen naar XTC-gebruik, omdat XTC gebruikers zelden uitsluitend XTC gebruiken. Ze gebruiken vaak ook andere middelen, zoals alcohol, tabak, cannabis, speed, of cocaine. Bovendien wordt XTC vooral gebruikt in het uitgaansleven, en gebruik gaat daarom vaak samen met andere factoren zoals slaapgebrek. Verder verschillen mensen die besluiten om XTC te gaan gebruiken sowieso van mensen die geen XTC gebruiken. Kortom: de enige manier om op een methodologisch verantwoorde manier onderzoek te doen naar XTC-gebruik, is door deelnemers willekeurig al dan niet XTC te geven, en de twee groepen die zo ontstaan achteraf vergelijken. Dit is ethisch (nog) niet mogelijk. Echter: <a href="https://www.vgct.nl/themas/trauma/-ptss/trippen-op-mdma-bij-de-psycholoog">nu XTC steeds meer wordt onderzoek als hulpmiddel bij psychotherapie</a> worden dit soort studies langzaam misschien mogelijk.</p>
<p>Ten derde: in veel studies die worden uitgevoerd naar de gevolgen van XTC-gebruikt wordt doelbewust een groep deelnemers gezocht die heel veel XTC gebruikten. Dat is logisch: dan zijn er minder deelnemers nodig om eventuele effecten aan te tonen. Aangenomen dat eventuele schade een monotone dosis-respons relatie laat zien (oftewel: meer XTC betekent meer schade) zou je sterkere effecten moeten vinden als je gebruikers zoekt die meer XTC hebben gebruikt. Omdat onderzoek duur is, en je deelnemers minimaal wil belasten, zijn er in zulk onderzoek dus goede redenen om zulke ‘zware gebruikers’ te zoeken. Maar: de uitkomsten zijn dus alleen van toepassing op die niet-representatieve groep gebruikers. Er is onlangs <a href="https://doi.org/10.1016/j.neubiorev.2015.12.010">een systematische review gedaan van de evidentie over een meer representatieve groep</a>. Hier werd geconcludeerd:</p>
<blockquote>
There is no convincing evidence that moderate MDMA use is associated with structural or functional brain alterations in neuroimaging measures. The lack of significant results was associated with high methodological heterogeneity in terms of dosages and co-consumption of other drugs, low quality of studies and small sample sizes.
</blockquote>
<p>In deze studie is gekeken naar mensen die minder dan 50 keer XTC en minder dan 100 pillen hadden gebruikt. De meeste mensen gebruiken maar een paar keer per jaar; <a href="https://sciencer.eu/2018/09/de-wereld-gebruikt-veel-minder-xtc-pillen-dan-geschat/">zoals ik eerder voorrekende is de gemiddelde jaarlijkse gebruiksfrequentie acht pillen per jaar</a>, en de gemiddelde hoeveelheid nog geen twee pillen per keer. Hier komt bij dat de meeste XTC-gebruikers vanzelf stoppen als ze ouder worden, <a href="https://doi.org/10.1186%2F1471-2458-8-376">doordat ze kinderen krijgen, meer verantwoordelijkheden krijgen in hun baan, of minder uitgaan</a>. Kortom: veruit de meeste gebruikers vallen in die groep ‘lichte gebruikers’.</p>
<p>Al met al is het dus geen wonder dat zoals <a href="https://www.telegraaf.nl/entertainment/2714134/arjen-lubach-heeft-gelijk-met-pleidooi-legalisering-xtc">De Telegraaf rapporteerde, een rondgang van Radio EenVandaag langs een aantal experts uitwees dat die het met Lubach eens waren</a>:</p>
<blockquote>
Een ervaringsdeskundige van het programma Spuiten &amp; Slikken, wetenschappers van de gezaghebbende Trimbos- en Bonger-instituten en hoogleraar Wim van den Brink van de Vrije Universiteit Amsterdam bevestigen, met enige kanttekeningen, de stelling van Lubach dat xtc minder schadelijk is dan drank.
</blockquote>
</div>
<div id="waarom-voorkomt-legalisering-gezondheidsschade-en-slachtoffers" class="section level1">
<h1>Waarom voorkomt legalisering gezondheidsschade en slachtoffers?</h1>
<p>De vraag waarom legalisering gezondheidsschade en slachtoffers voorkomt, hangt samen met de vraag waarom iets illegaal maken niet zorgt dat mensen het niet meer doen. Het is belangrijk om twee dingen te beseffen: een regel instellen betekent niet dat die wordt gevolgd, en kennis verspreiden betekent niet dat mensen hun gedrag gaan veranderen. Uit het eerste volgt dat regels zelden volstaan als je wil dat mensen iets anders gaan doen; uit de tweede dat er meer nodig is in communicatie om gedrag te veranderen dan kennis geven. Ik illustreer deze punten aan de hand van een aantal voorbeelden.</p>
<div id="gedrag-verander-je-niet-met-wetten-en-regels" class="section level3">
<h3>Gedrag verander je niet met wetten en regels</h3>
<p>Ik zal een aantal wetten opnoemen die de meeste mensen wel eens overtreden. Een bekende is door rood rijden. Een andere is ergens parkeren waar dat niet mag. Veel mensen vertonen dit gedrag ondanks dat ze weten dat er wetten zijn die bepalen dat het niet mag. Sterker nog, sommige mensen zijn vervolgens geïrriteerd als de wetgever deze overtredingen bestraft. Een ander voorbeeld: wildplassen. Nog wat voorbeelden: rijden onder invloed; de deur uitgaan zonder identificatie; of alcohol schenken aan personen die dronken zijn. Sommige van deze acties zijn relatief onschuldig en beschadigen niemand behalve mogelijk de dader als de wetgever de overschrijding van de wet opmerkt en bestraft (zoals de deur uitgaan zonder identificatie of ergens parkeren waar het niet mag). Andere acties brengen wel levens van anderen in gevaar, zoals te hard rijden, rijden onder invloed, of alcohol schenken aan dronken gasten. Desalniettemin gebeurt dit nog veel te vaak.</p>
<p>Andere voorbeelden van handelingen die illegaal zijn is het produceren of gebruiken van XTC of cannabis. Gebruik en bezit van kleine hoeveelheden worden gedoogd - maar formeel is dit nog illegaal. Cannabisgebruik of XTC-gebruik wordt niet in alle landen gedoogd - en toch ligt het gebruik in Nederland niet systematisch hoger dan in landen waar dit niet wordt gedoogd. De prevalenties van middelengebruik lijken vooral door andere factoren te worden bepaald, en niet door of iets illegaal is. De drooglegging in Amerika liet dit ook zien: <a href="https://awesomeamsterdam.com/best-cocktail-bars-in-amsterdam/">de speakyeasy bars die tegenwoordig als paddestoelen uit de grond schieten</a> zijn een levend (ok, gereanimeerd) testament aan de ineffectiviteit van die drooglegging. De onderwereld vierde wel hoogtij als gevolg van die drooglegging.</p>
<p>Als laatste voorbeeld van de relatieve onmacht van regels, twee disciplines die niet zouden bestaan als regels zouden volstaan: verandermanagement en knowledge translation. Knowledge translation is het veld dat zich er mee bezig houdt hoe het gedrag van professionals veranderd kan worden zodat ze recente wetenschappelijke inzichten toepassen (denk aan mensen in de verpleging of in de geneeskunde). Hier worden altijd richtlijnen en regels voor gemaakt, maar mensen blijven meestal gewoon doen wat ze al deden. Verandermanagement is niet alleen een onderzoeksveld maar verschaft ook het dagelijks brood aan tientallen, misschien wel honderden bedrijven, die door andere bedrijven worden ingezet om hun personeel zover te krijgen dat ze het (veranderde) beleid van de organisatie toepassen.</p>
<p>Als je mensen zo ver wil krijgen dat ze iets anders doen, moet je in de meeste gevallen met iets beter komen dan regels of wetgeving. Mensen zijn complex en hebben allerlei redenen voor hun gedrag. Het veranderen van dat gedrag is dus noodzakelijkerwijs complex - een stuk complexer dan wetgeving. Wetgeving helpt natuurlijk - en in sommige gevallen volstaat het zelfs. Er zijn immers genoeg wetten op te noemen die niet dagelijks worden overschreden. Tegelijkertijd is het feit dat zoiets illegaal is niet noodzakelijk de primaire overweging bij het besluit zo’n actie niet uit te voeren: er zijn allerlei goede redenen om mensen niet te vermoorden behalve dat het illegaal is, en die redenen volstaan gelukkig meestal. Sterker nog, de meeste mensen overschrijden dagelijks duizenden wetten <em>niet</em>, zelfs zonder zich ervan bewust te zijn dat die wetten bestaan. De meeste mensen kennen immers de meeste wetten niet. Als noodzakelijk gevolg hiervan kan het dus niet zo zijn dat ze zich aan die wetten houden als gevolg van het bestaan van die wetten.</p>
<blockquote>
Niet alleen overschrijden mensen willens en wetens wetten die ze kennen: mensen houden zich onbewust aan duizenden wetten die ze <em>niet</em> kennen. Het bestaan van de wet verandert in al die gevallen dus niet hun gedrag.
</blockquote>
<p>Nu doen wetten natuurlijk wel <em>iets</em>. Het instellen van wetten kan, als dit wordt gecombineerd met andere maatregelen, wel effect hebben. Er zijn twee maatregelen die kunnen werken. De ene is controle en bestraffing. Het zou tegenwoordig bijvoorbeeld mogelijk zijn om iedereen die te snel rijdt automatisch te bekeuren (door auto’s uit te rusten met GPS trackers, zodat de snelheid en locatie vergeleken kunnen worden met de maximale snelheid op die plaats op dat moment). Dit zou vermoedelijk zorgen dat men zich beter (maar nog niet volledig) aan die wet houdt. Op meer plaatsen flitsen, en/of de boetes verveelvoudigen, zal vergelijkbare effecten hebben (en dus rechtstreeks levens van verkeersdeelnemers redden). De andere maatregel is preventie. Preventie heeft vaak de vorm van campagnes: de <a href="https://www.daarkunjemeethuiskomen.nl/bob">Bob</a> campagne (ministerie van Infrastructuur en Waterstaat), de <a href="https://benjeoke.nl">Ben je Oké</a> campagne (Rutgers), en de <a href="https://celebratesafe.nl/">Celebrate Safe</a> campagne (onder andere van Jellinek) zijn hier voorbeelden van. Campagnes kunnen echter ook mislukken. Een veelvoorkomende reden voor mislukte campagnes is als een campagne zich vooral richt op kennis.</p>
</div>
<div id="gedrag-verander-je-niet-door-kennis-te-verspreiden" class="section level3">
<h3>Gedrag verander je niet door kennis te verspreiden</h3>
<p>Een handig voorbeeld met betrekking tot de gebrekkige effecten van kennis op gedrag liet ik zien in mijn college voor de Universiteit van Nederland. Ik legde uit dat koffie over het algemeen gezond is, behalve dat koffie cafestol bevat. Zoals <a href="https://www.consumentenbond.nl/espressomachine/koffie-gezond">de consumentenbond uitlegt</a> is dit een schadelijk stofje dat gelukkig wordt uitgefilterd door papier. Dit betekent dat filterkoffie gezond is, maar nespresso of espresso niet: hier kun je zelfs beter niet meer dan 2 of 3 kopjes per dag van  drinken. Nadat ik dit had uitgelegd vroeg ik het publiek wie wel eens espresso of nespresso dronk; vervolgens wie nu over zou stappen op filterkoffie. <a href="https://youtu.be/wy04zoBx-zI?t=237">Niemand gaf aan dit van plan te zijn</a>. Het is niet zo dat de meeste mensen wel bereid waren om, nu ze wisten dat (n)espresso meer gezondheidsrisico’s met zich meebracht, over te stappen op filterkoffie, en dat degenen die niet bereid waren een minderheid waren: nee, niemand gaf aan te switchen.</p>
<p>Een ander voorbeeld: de Gezondheidsraad paste in 2015 haar advies aan van ‘drink met mate’ naar ‘drink geen alcohol’. Terecht, want alcohol is zeer schadelijk (in elk geval een stuk schadelijker dan XTC). <a href="https://nos.nl/artikel/2067098-advies-geen-alcohol-meer-wel-dagelijks-noten-eten.html">Dit kwam breed in de media</a>, en is in april 2018 nog eens herkauwd <a href="https://nos.nl/artikel/2227093-een-glas-alcohol-per-dag-is-eigenlijk-al-te-veel.html">toen een grote studie in de Lancet bevestigde dat deze richtlijn verstandig is</a>. Toch drinken nog steeds te veel mensen (ongeveer een op vijf: gelukkig dus ook 20% niet).</p>
<p>Er zijn allerlei goede redenen waarom mensen niet stante pede hun gedrag aanpassen als ze dergelijke informatie over risico’s ontvangen. Een reden is dat er veel meer overwegingen bij het gedrag zijn dan alleen de risico’s. Bij middelengebruik zoals alcohol en XTC geldt bijvoorbeeld ook dat die voordelen opleveren voor mensen. Gebruikers krijgen bijvoorbeeld een prettig gevoel, of ervaren een prettige smaaksensatie. Er zijn dus rationele redenen om zo’n risico te accepteren.</p>
<p>Maar er is meer: een tweede reden is dat mensen vaak niet rationeel <em>zijn</em>. Mensen zijn geen robots: we zijn uitgerust met allerlei psychologische processen om een positief zelfbeeld in stand te houden, om ongewenste informatie te negeren of verstoord te verwerken, of om ons opeens te concentreren op andere gezonde dingen die we ook doen. Het is dus makkelijk om rationele keuzes toch niet te maken, zelfs zonder dat je je er bewust van bent dat je je irrationeel gedraagt.</p>
<p>Een derde reden is dat er naast afwegingen van voor- en nadelen van gedrag, veel meer invloeden op gedrag zijn. Risico’s betreffen slechts de mogelijke negatieve gevolgen; voordelen van het gedrag betreffen slechts de mogelijke positieve gevolgen; maar daarnaast is er goed- of afkeuring van de omgeving; of mensen het gevoel hebben zelf controle over het gedrag te hebben; impulscontrole; gewoontevorming; persoonlijke normen; zelf-identiteit, en ga maar door.</p>
<p>Gegeven die veelheid aan mogelijke redenen, overwegingen, gedachten, gevoelens, gewoontes, en andere aspecten van de menselijke psychologie die een rol spelen bij gedrag, is het geen wonder dat alleen wat kennis over gevolgen geven weinig kans van slagen heeft.</p>
<blockquote>
Als wetgeving en kennisverstrekking niet volstaan om gedrag te veranderen, wat kun je dan doen als je als overheid je burgers gelukkig wil houden, en de ziektekosten binnen de perken wil houden?
</blockquote>
</div>
<div id="wat-wel-werkt-om-slachtoffers-te-voorkomen" class="section level3">
<h3>Wat wel werkt om slachtoffers te voorkomen</h3>
<p>De menselijke psychologie is complex, en als je hoop wil hebben gedrag te veranderen, dan ontkom je er niet aan de relevante aspecten van die menselijke psychologie eerst grondig in kaart te brengen. Wetgeving verandert in het beste geval de omgeving van een individu, en verandert, als die wetgeving wordt gecommuniceerd, een aantal aspecten van de psychologie van de doelgroep: de risicoinschatting van het gedrag wordt iets bijgesteld, zodat pakkans en mogelijke bestraffing worden meegenomen in de overwegingen. Communiceren over risico’s bereikt in het beste geval iets vergelijkbaars, maar dan vaak met betrekking tot langzaam accumulerende lange-termijn gevolgen. Beide vormen van communicatie zijn echter problematisch: ze zijn bedreigend voor mensen die het gedrag al uitvoeren, worden daarom niet goed verwerkt, en hebben daarom weinig invloed op gedrag, zoals we onlangs hebben uitgelegd in <a href="https://doi.org/10.1080/17437199.2018.1454846">Health Psychology Review</a> en <a href="https://htmlpreview.github.io/?https://github.com/academy-of-behavior-change/consensus-on-fear-appeals/blob/master/consensus_on_fear_appeals_-_rejoinder_to__false_belief_in_fear_appeals__debate.html">de uitgebreide supplemental materials</a>.</p>
<p>Wat nodig is, is begrip van de doelgroep. Dit begrip van de doelgroep vereist dat je onderzoek doet: kwalitatieve en kwantitatieve determinantenstudies, <a href="https://doi.org/10.3389/fpubh.2017.00165">zodat in kaart gebracht kan worden wat nu precies het gedrag van de doelgroep verklaart</a>. Een eerste stap is het in kaart brengen van het risicogedrag. In het geval van XTC is dat niet het gebruik zelf - zoals al uitgelegd is dat relatief ongevaarlijk. Belangrijker is bijvoorbeeld dat gebruikers niet te vaak gebruiken; geen hoge doses gebruiken (dit is niet vanzelfsprekend nu XTC zo hoog gedoseerd is); niet mixen met andere middelen; hun XTC laten testen; en voor gebruik goed eten, drinken (accurater: hydrateren), en slapen. Als alle XTC-gebruikers deze zogenaamde harm reduction strategies zouden toepassen, zouden het aantal incidenten en sterfgevallen praktisch verdwijnen, en zou er ook op de lange termijn minder hersenschade optreden.</p>
<p>Om dat te bereiken moet van elk van deze gedragingen eerst in kaart worden gebracht waarom mensen die gedragingen wel of niet uitvoeren. Een voorbeeld is de Party Panel studie die we uitvoerden naar het <a href="https://partypanel.nl/resultResources/15.1/report.html">gebruiken van hooggedoseerde XTC en het laten testen van XTC</a>. Door zulk onderzoek serieus te nemen en veelvuldig uit te voeren, kan beter in kaart worden gebracht waar een preventiecampagne zich nu precies op moet richten om harm reduction strategies te bevorderen. Door vervolgens psychologische theorie te gebruiken om de juiste methoden voor gedragsverandering te selecteren kan worden gezorgd dat mensen veiliger omgaan met XTC, en dat de risico’s dus nog lager worden.</p>
<p>Dit kan echter niet goed als het risicogedrag waar het om gaat illegaal is. Een overheid die niet toestaat dat een middel wordt gebruikt zal niet snel geld reserveren om in kaart te brengen waarom de gebruikers van dat middel met dat middel omgaan zoals ze dat doen. Het grondige onderzoek dat nodig is om optimaal effectieve campagnes te ontwikkelen vereist dus legalisering.</p>
<p>Bovendien zorgt legalisering dat de doelgroep minder gestigmatiseerd wordt. Hierdoor zullen ze makkelijker te vinden zijn, meer bereid zijn om deel te nemen aan onderzoek, beter te bereiken zijn met de ontwikkelde preventiecampagnes, en <a href="https://www.henw.org/artikelen/partydrugsgerelateerde-klachten">eerder hun huisarts benaderen bij gezondheidsklachten</a>. Door XTC-gebruik te legaliseren kun je zelfs de verkoop van XTC inzetten door bij aankoop een bijsluiter te verstrekken waarin duidelijk wordt uitgelegd hoe XTC gebruikt moet worden om de risico’s te beperken. Bovendien kan XTC in lage doseringen worden verkocht, zodat mensen eenvoudig verstandig kunnen doseren.</p>
</div>
</div>
<div id="gaan-mensen-meer-gebruiken-als-xtc-legaal-is" class="section level1">
<h1>Gaan mensen meer gebruiken als XTC legaal is?</h1>
<p>Zoals Lubach al uitlegde is er in het algemeen geen evidentie dat legalisering van een middel leidt tot toename in gebruik. Dit bleek uit internationaal onderzoek, maar ook in Nederland geldt dat cannabisgebruik bijvoorbeeld niet is gestegen toen ons gedoogbeleid inzette. Een eventuele angst dat XTC-gebruik een uitzondering is, lijkt dus niet te verdedigen.</p>
<p>Desalniettemin, hoewel de angst irreëel is: zelfs als de angst <em>toch</em> gegrond blijkt, dan is de kans groot dat dat een verbetering voor de volksgezondheid en minder doden oplevert. Door XTC te legaliseren wordt het eenvoudiger op een overkoepelende en respectvolle manier met de burgers te communiceren over middelengebruik. Het palet aan middelen kan dan worden gepresenteerd, en er kan duidelijk worden gecommuniceerd over de voor- en nadelen van elk middel. Als hierdoor jongeren vaker kiezen voor cannabis of XTC in plaats van ‘binge drinking’ is dit een mooie bijvangst vanuit gezondheidsperspectief.</p>
<p>Het is immers niet zo dat er in de huidige situatie mensen thuis zitten in het weekend omdat ze graag drugs willen gebruiken maar niet legaal XTC kunnen kopen. Ten eerste zullen mensen in zo’n situatie simpelweg het veel schadelijkere alcohol kopen; ten tweede is het nu al niet moeilijk om XTC te verkrijgen.</p>
<p>Bovendien bestaat de middelengebruiksmarkt uit communicerende vaten: als een middel populairder wordt, gaat dat vaak ten koste van een ander middel. Mensen die XTC gebruiken, gebruiken gelukkig meestal niet tegelijkertijd ook cocaïne of 4-FA. Als XTC legaal beschikbaar komt, zullen wellicht een aantal gebruikers overstappen van illegale middelen naar het dan legale XTC - in plaats van XTC er simpelweg <em>bij</em> te gaan gebruiken. Gegeven dat XTC een van de minst schadelijke middelen is zullen zulke overstappen bijna altijd gezondheidsvoordelen met zich meebrengen.</p>
</div>
<div id="bonus-dumpingen-van-chemisch-afval-nemen-af" class="section level1">
<h1>Bonus: dumpingen van chemisch afval nemen af</h1>
<p>Arjan Lubach liet ook een interview zien over het rapport “Waar een klein land groot in kan zijn”, over de productie van XTC in Nederland. Hier werd voorgerekend dat de omzet die Nederland produceert met XTC-productie gelijk is aan die van Philips. <a href="https://sciencer.eu/2018/09/de-wereld-gebruikt-veel-minder-xtc-pillen-dan-geschat/">Ik heb eerder uitvoerig berekend waarom dit niet kan kloppen.</a> De berekeningen in dat rapport kloppen dus ergens niet. Het is dus goed mogelijk dat de export van XTC wordt overschat. In dat geval zouden de dumpingen van chemisch afval ook sterk moeten afnemen als XTC wordt gelegaliseerd. Nederland produceert dan immers voor een groter deel voor eigen gebruik.</p>
</div>
<div id="bonus-drugsgerelateerd-geweld-en-doden-nemen-af" class="section level1">
<h1>Bonus: drugsgerelateerd geweld en doden nemen af</h1>
<p>In een review van de gevolgen van repressief beleid is gekeken hoe drugsmarkt-gerelateerd geweld zich ontwikkelde nadat een land repressiever beleid is gaan voeren. <a href="https://www.ncbi.nlm.nih.gov/pubmed/21392957">De onderzoekers concluderen</a> (<a href="https://www.hri.global/files/2011/03/25/ICSDP_Violence_and_Enforcement_Report_March_2011.pdf">PDF</a>):</p>
<blockquote>
Our findings suggest that increasing drug law enforcement is unlikely to reduce drug market violence. Instead, the existing evidence base suggests that gun violence and high homicide rates may be an inevitable consequence of drug prohibition and that disrupting drug markets can paradoxically increase violence. In this context, and since drug prohibition has not meaningfully reduced drug supply, alternative regulatory models will be required if drug supply and drug market violence are to be meaningfully reduced.
</blockquote>
<p>Kortom: legaliseren leidt tot minder geweld, minder ‘ondermijning’, en minder slachtoffers door drugsmarkt-gerelateerde criminaliteit.</p>
</div>
<div id="conclusie" class="section level1">
<h1>Conclusie</h1>
<p>Zowel vanuit wetenschappelijk als gezondheidsperspectief is het verstandig om XTC te legaliseren. Legalisering maakt regulering en betere preventie mogelijk en minimaliseert daarmee schade en slachtoffers door XTC-gebruik. Daarnaast zal het een markt vernietigen voor het criminele circuit, beter zijn voor de natuur doordat er minder afvalstoffen gestort zullen worden, en middelen vrijmaken voor bestrijding van andere misdaad. De kans op toename van gebruik is klein, maar zelfs als er een toename is, dan zal dit waarschijnlijk ten koste gaan van een ander middel en dus netto gezondheidswinst met zich meebrengen.</p>
<p>Jammer genoeg baseren politici die legalisering niet verder willen onderzoeken hun standpunt zelden op wetenschap of volksgezondheid. In plaats daarvan lijkt het om idealisme te gaan - hoewel die term te veel positieve connotaties heeft om hier passend te zijn. Sommige politici zijn onterecht overtuigd dat ‘drugs slecht zijn’, alsof gebruik van psychoactieve stoffen anders dan alcohol intrinsiek immoreel is. Dat al lang duidelijk is dat dit onhoudbaar is, en dat alcohol juist een van de schadelijkste drugs in de set is, lijkt weinig indruk te maken. Dat mensen niet rationeel zijn geldt jammer genoeg ook voor politici. Maar zouden we niet moeten verwachten dat zij zichzelf -en elkaar- aan een hogere standaard houden? Is het onredelijk te verwachten dat mensen die de verantwoordelijkheid dragen voor alle inwoners van Nederland beslissen op basis van wetenschap en volksgezondheid, in plaats van op basis van ontkrachte persoonlijke opvattingen? Het is tragisch als dit ten koste zal blijven gaan van de volksgezondheid - er kunnen levens gered worden als deze discussie op een rationele manier wordt gevoerd.</p>
</div>
