---
title: lange-termijn-gevolgen-van-xtc-gebruik
author: null
date: '2019-01-29'
slug: lange-termijn-gevolgen-van-xtc-gebruik
categories: []
tags: []
draft: true
output:
  blogdown::html_page
language: nl
editor_options: 
  chunk_output_type: console
---



<p>Bedi &amp; Redman: <a href="https://www.researchgate.net/profile/Gillinder_Bedi/publication/5626135_Ecstasy_use_and_higher-level_cognitive_functions_Weak_effects_of_ecstasy_after_control_for_potential_confounds/links/540a12f60cf2d8daaabf9f8e.pdf" class="uri">https://www.researchgate.net/profile/Gillinder_Bedi/publication/5626135_Ecstasy_use_and_higher-level_cognitive_functions_Weak_effects_of_ecstasy_after_control_for_potential_confounds/links/540a12f60cf2d8daaabf9f8e.pdf</a></p>
<p>Background.
Although there have been several reports linking ecstasy use with lowered cognitive function, much
previous research suffers from substantial methodological limitations. The present study aimed to examine associations
between ecstasy use and higher-level cognitive functions, using a larger sample size than most previous research and
better controlling for a range of potential confounds.
Method.
A cross-sectional cohort design assessed 45 currently abstinent ecstasy polydrug users (EP), 48 cannabis
polydrug users (CP) and 40 legal drug users (LD). Standardized neuropsychological tests were used to measure at-
tention, verbal, visual and working memory and executive function. Prospective memory function was also assessed.
Results.
It was not possible to discriminate between groups on the basis of the cognitive functions assessed. Regression
analyses showed an inverse association between lifetime dose of ecstasy and verbal memory performance. A combi-
nation of drug-use variables, including measures of ecstasy use, contributed to prediction of attention/working mem-
ory. However, individual associations were small, explaining 1–6% of variance in cognitive scores.
Conclusions.
Although the results suggest that heavy use of ecstasy is associated with some lowering of higher-level
cognitive functions, they do not indicate a clinical picture of substantial cognitive dysfunction.</p>
