---
title: 'Why preregistration is not redundant: Preregistration as harm reduction'
author: Gjalt-Jorn Peters
date: '2019-11-01'
slug: why-preregistration-is-not-redundant-preregistration-as-harm-reduction
categories: []
tags: []
---



<p>Szollosi, Kellen, Navarro, Shiffrin, van Rooij, van Zandt &amp; Donkin (2019) recently wrote the provocatively titled “<a href="https://doi.org/10.31234/osf.io/x36pz">Preregistration is redundant, at best</a>”. They argue that</p>
<blockquote>
<p>[t]he key implication argued by proponents of preregistration is that it improves the diagnosticity of statistical tests</p>
</blockquote>
<p>and explain why there is</p>
<blockquote>
<p>little reason to expect that preregistration will spontaneously help researchers to develop better theories</p>
</blockquote>
<p>while they emphasize that</p>
<blockquote>
<p>the diagnosticity of statistical tests depend entirely on how well statistical models map onto underlying theories.</p>
</blockquote>
<p>Since preregistration cannot help with better theories, and better theories are a prerequisite for, well, informative statistical inference, they argue that preregistration is redundant.</p>
<p>As far as I can see they are right on target with everything except the conclusion. The reason why I disagree with their conclusion is most likely because they’re real scientists, and I’m not. In that sense their argument is very optimistic: it is based on the premise that developing better theory is what most articles in psychology are concerned with. I’m not persuaded that’s true, but would love to be wrong.</p>
<p>I wish we were at the point where improving our theories was the main concern. However, most theory in psychology is still qualitative: boxes and arrows that roughly predict that something is associated to something else, and it is not uncommon for articles to simply apply structural equation modeling to test a model with a slew of implicit assumptions that are never discussed and do not follow from the theory.</p>
<p>Some fields have progressed more than others, of course. But in some areas, the concerns of Szollosi et al. (2019) are almost utopic. If only this was the level at which theories are developed and evaluated! In my own field, for example, there was recently (relatively recently; I’m getting old I guess) a discussion about ‘who has the right to change a theory’. There’s a big gap between these two approaches to theory - and I think that gap partly explains why I agree with the arguments of Szollosi et al. but not with their conclusion.</p>
<div id="advantages-of-preregistration" class="section level1">
<h1>Advantages of preregistration</h1>
<p>First, let me list a number of advantages of preregistration that were not discussed by Szollosi et al. (probably because of the strict word limit).</p>
<div id="clear-explicit-description-of-researchers-expectations-and-biases" class="section level2">
<h2>Clear, explicit description of researchers’ expectations and biases</h2>
<p>The value of trying to identify one’s own biases and making then explicit is acknowledged a bit better by researchers applying qualitative methods, but this is valuable for quantitative research as well. Such descriptions are best made explicit before data collection starts, as the results may change them (unconsciously).</p>
</div>
</div>
<div id="risks-of-preregistration" class="section level1">
<h1>Risks of preregistration</h1>
</div>
<div id="afterthought" class="section level1">
<h1>Afterthought</h1>
<p>This preprint received oddly dismissive responses on Twitter. They’re linked to in this thread by John Sakaluk:</p>
{{% tweet "1190311464441131009" %}}
<p>My experience is that when people respond dysfunctionally, it’s often because they feel threatened in some way. Of course, that might just be my optimistic disposition (i.e. in this scenario people aren’t simply dysfunctional), but if we bear with this interpretation, perhaps this can partly explain those responses to the preprint.</p>
<p>After all, this preprint is pretty confronting about the state of some fields in psychology: theory and testing are often not taken as seriously as Szollosi et al. (2019) clearly do. Then again, the deliberately provocative title maybe also didn’t help.</p>
</div>
